.input{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 8px;
}
input[type=submit], input[type=reset] {
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 12px 0;
    margin: 12px 0;
    font-size: 1.3em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 9px;
}
input[type=submit]{
    background-color: green;
}
input[type=reset] {
    background-color: grey;
    color: black;
}
.form-contain{
    width: 600px;
    margin: auto;
}
h1{
    justify-content: center;
    text-align: center;
}